* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

 h1 {
    background-color: #081b31;
    color: white;
    height : 5rem;
    line-height : 5rem;
    text-align: center; 
    text-underline-position: below;
}

.choice { 
    cursor: pointer;
    transition: all 0.3s;
}

 .choice:hover { 
    transform: scale(1.1);
}

img {
    background-color: bisque;
    object-fit: cover;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    aspect-ratio: 1/1;
}

 .choices { 
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin : 20px 0;
}


body.light-mode { 
    background-color: #fff;
}

body.dark-mode {
    background-color: #0f0c0c;
}

 .game-message { 
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #050000; 
}

body.dark-mode .game-message {
    color: #fff; 
}

 .button { 
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border: 2px;
    border-radius: 50%;
    background-color: #081b31;
    transition: background-color 0.3s, border-color 0.3s, all 0.3s ease;
}

 .button:hover { 
    background-color: #081b31;
    border-color: #081b31;
}

.button img {
    display: block;
    width: 32px;
    height: 32px;
    margin: auto;
}
@media (max-width: 768px) {
    img {
        height: 25vw;
        width: 25vw;
    }

    .choices {
        flex-direction: column;
        gap: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

 @media (max-width: 480px) {
    img {
        height: 30vw;
        width: 30vw;
    }

    .game-message { 
        font-size: 16px;
    }

    h1 {
        font-size: auto;
        height: auto;
        line-height: 1.5rem;
    }

    .button {
        width: 30px;
        height: 30px;
        top: 0.1px;
        margin-right: 2.9px;
       
    }

    .button img {
        display: block;
        width: 32px;
        height: 32px;
        margin: auto;
    }
} 
